<!doctype html>
<html lang="en">
<head>
    <title>media-roller</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/static/css//bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
<div class="container d-flex flex-column text-light text-center">
    <div class="flex-grow-1"></div>
    <div class="jumbotron bg-transparent flex-grow-1">
        <h1 class="display-4"><a class="text-light" href="/">media roller</a></h1>
        <p>
            Mobile friendly tool for downloading videos from social media
        </p>
        <div>
            <form action="/fetch" method="GET">
                <div class="input-group">
                    <input name="url" type="url" class="form-control" placeholder="URL" aria-label="URL"
                           aria-describedby="button-submit" value="{{.url}}" autofocus>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit" id="button-submit">Submit</button>
                    </div>
                </div>
            </form>
            {{ if .media }}
            <div style="margin-top:20px;">
                <h2>Done!</h2>
                {{range .media}}
                <a style="color: dodgerblue" href="/download?id={{.Id}}">{{.Name}}</a> <small>{{.HumanSize}}</small><br>
                <video controls loop width="250">
                    <source src="/download?id={{.Id}}" type="video/mp4"/>
                </video>
                {{ end }}
            </div>
            {{ end }}
            {{ if .error }}
            <h4 style="margin-top:20px;">Error</h4>
            <pre style="background-color:white;text-align:left;white-space: pre-wrap;">{{ .error }}</pre>
            {{ end }}
        </div>
    </div>
    <footer>
        <div>
            Running <a href="https://github.com/yt-dlp/yt-dlp">yt-dlp</a> version {{ $.ytDlpVersion }}<br>
            <p class="text-muted">Source at <a class="text-light" href="https://github.com/rroller/media-roller">https://github.com/rroller/media-roller</a>
            </p>
        </div>
    </footer>
</div>
</body>
</html>
